<h2>Studio</h2>
<div id='studio-stats'>
  <p>Name: <%=@studio.name%></p>
  <p>Location: <%=@studio.location%></p>
</div>
<h3>Movie Titles</h3>
<div id='studio-movie-titles'>
  <% @studio.movies.each do |movie| %>
    <p><%= movie.title%> </p>
  <% end %>
</div>
<h3>Actors Played in Movies</h3>
<div id='actors-list'>
  <% Actor.actors_in_movies_for_studio(@studio).each do |actor| %>
    <p> <%= actor.name %> </p>
  <% end %>
</div>